.goldfinchicon {
}

.goldfinchicon .goldfinchicon__wrapper {
  border: 1px solid #dee2e6;
  border-radius: var(--bs-border-radius);
}

.goldfinchicon .goldfinchicon__wrapper.goldfinchicon__wrapper--selected {
  margin-bottom: 20px;
}

.goldfinchicon .goldfinchicon__wrapper.goldfinchicon__wrapper--selections {
  max-height: 400px;
  overflow-y: auto;
}

.goldfinchicon .goldfinchicon__wrapper > ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0;
  list-style: none;
}

.goldfinchicon .goldfinchicon__wrapper > ul > li {
  margin: 10px;
  overflow: hidden;
  border-radius: var(--bs-border-radius);
}

.goldfinchicon .goldfinchicon__wrapper > ul > li {
}

.goldfinchicon .goldfinchicon__wrapper > ul > li > input {
  display: none;
}

.goldfinchicon .goldfinchicon__wrapper > ul > li > input:checked + label {
  /* background-color: #eee; */

  /* box-shadow: inset 0px 0px 0px 2px #ededed; */
  opacity: 1;
}

.goldfinchicon .goldfinchicon__wrapper > ul > li > label {
  margin: 0;
  cursor: pointer;
}

.goldfinchicon .goldfinchicon__wrapper.goldfinchicon__wrapper--selections {
  position: relative;
}

.goldfinchicon .goldfinchicon__wrapper.goldfinchicon__wrapper--selections > span {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding: 2px 5px;
  font-size: 11px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: 0;
  border-left: 0;
}

.goldfinchicon .goldfinchicon__wrapper.goldfinchicon__wrapper--selections[data-search='true'] > span {
  display: block;
}

.goldfinchicon .goldfinchicon__wrapper.goldfinchicon__wrapper--selected {
  padding: 0.5385rem 0.7692rem;
  background-color: #fff;
  border: 1px solid #ced5e1;
  border-radius: 0.23rem;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 7.5%);
}

.goldfinchicon .goldfinchicon__wrapper.goldfinchicon__wrapper--selected > ul {
  padding: 0;
}

.goldfinchicon .goldfinchicon__wrapper.goldfinchicon__wrapper--selected > ul[data-count='0']::before {
  content: 'No icon selected';
}

.goldfinchicon .goldfinchicon__wrapper.goldfinchicon__wrapper--selected > ul > li {
  display: flex;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.goldfinchicon .goldfinchicon__wrapper.goldfinchicon__wrapper--selected > ul > li > i {
  font-size: 32px;
}

.goldfinchicon .goldfinchicon__wrapper.goldfinchicon__wrapper--selected > ul > li:hover {
  opacity: 0.5;
}

.goldfinchicon .goldfinchicon__wrapper.goldfinchicon__wrapper--selected > ul > li:hover i {
}

.goldfinchicon .goldfinchicon__wrapper.goldfinchicon__wrapper--selected > ul > li > label {
  padding: 0 10px;
}

.goldfinchicon .goldfinchicon__wrapper.goldfinchicon__wrapper--selections > ul > li > label {
  padding: 10px;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.goldfinchicon .goldfinchicon__wrapper.goldfinchicon__wrapper--selections > ul > li[data-selected='true'] > label {
  opacity: 1;
}

.goldfinchicon .goldfinchicon__wrapper.goldfinchicon__wrapper--selections > ul > li > label:hover {
  opacity: 1;
}

/* .goldfinchicon .goldfinchicon__wrapper > ul > li:first-child {
  display: none;
}
.goldfinchicon .goldfinchicon__wrapper > ul > li:first-child > label {
}

.goldfinchicon .goldfinchicon__wrapper > ul > li:first-child > label {
  overflow: hidden;
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
    linear-gradient(-45deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-position:
    0 0,
    0 10px,
    10px -10px,
    -10px 0;
  background-size: 20px 20px;

  // background-color: #ddd;

  // box-shadow: inset 0px 0px 0px 2px #ededed;
  border-radius: 50%;
} */

/* .goldfinchicon .goldfinchicon__wrapper > ul > li:first-child > label::before {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  font-size: 10px;
  font-weight: bold;
  font-variant: small-caps;
  content: 'no icon';
} */

.goldfinchicon .goldfinchicon__wrapper > ul > li[data-display='false'] {
  display: none;
}

.goldfinchicon .goldfinchicon__wrapper > ul > li > label > i {
  font-size: 32px;
}

.goldfinchicon .goldfinchicon__wrapper > ul > li > label > img {
}

.goldfinchicon .goldfinchicon__wrapper > ul > li > label > svg {
  width: 32px;
  height: auto;
}

.goldfinchicon .goldfinchicon__search {
  margin-bottom: 20px;
}

.goldfinchicon .goldfinchicon__hide {
  display: none;
}
